db.sqlite3
*.pyo
*/__pycache__
*.pyc
checkerapp/__pycache__/*
celerybeat-schedule
dump.rdb
.env
used_commands.txt
checkerapp/backup_tasks.py
test_http.sh
service_temp.html
checkerapp/jsonpickle
.pre-commit-config.yaml
/.backup_plugins/*
checkerapp/socket
