{% extends 'base.html' %}
{% block head %}
<title>Add Ping Check</title>

{% endblock head %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'checkerapp:home' %}">Services</a></li>
    <li class="breadcrumb-item"><a href="{% url 'checkerapp:service' service.pk %}">{{service.name}}</a></li>
    <li class="breadcrumb-item active">Add Ping Check</li>
{% endblock %}

{% block body %}
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10 col-sm-12">
      <div class="card shadow-sm">
        <div class="card-body">
          {% if flag %}
            <h3 class="card-title">Update Ping Check</h3>
          {% else %}
            <h3 class="card-title">Add Ping Check</h3>
          {% endif %}
          <form method="post" novalidate>
            {% csrf_token %}
            {% include 'includes/form.html' %}
            {{ ping_check_form }}
            {{ base_check_form }}
            {% if flag %}
              <button type="submit" class="btn btn-primary btn-block mt-2">Update</button>
            {% else %}
              <button type="submit" class="btn btn-primary btn-block mt-2">Add</button>
            {% endif %}
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
