{% extends 'base_accounts.html' %}

{% block head %}
<title>
Add user to notify
</title>
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item active">Add User</li>
{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10 col-sm-12">
      <div class="card shadow-sm">
        <div class="card-body">
          <h3 class="card-title">Add user</h3>
          <form method="post" novalidate>
            {% csrf_token %}
            {% include 'includes/form.html' %}
            {{ profile_form }}
            <button type="submit" class="btn btn-primary btn-block mt-2">Add user</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
