{% extends 'base.html' %}
{% load static %}
{% load static %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
  <link rel="stylesheet" href="https://raw.githubusercontent.com/StartBootstrap/startbootstrap-simple-sidebar/master/css/simple-sidebar.css">

{% endblock %}

{% block body %}
<div class="container">
  <div class="d-flex" id="wrapper">
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="list-group list-group-flush">
      {% block sidenav %}

      {% endblock %}
      <a href="{% url 'accounts:plugin_list' %}" class="list-group-item list-group-item-action bg-light">Custom Alerts</a>
      <li data-toggle="collapse" data-target="#service" class="list-group-item list-group-item-action bg-light">
        <a href="#"><i class="dropdown-toggle"></i> Default Alert plugins <span class="arrow"></span></a>
      </li>
      <ul class="collapse list-group sub-menu" id="service">
        <a href="{% url 'accounts:email_plugin' %}"><li class="list-group-item list-group-item-action bg-light">Email</li></a>
        <a href="{% url 'accounts:sms_plugin' %}"><li class="list-group-item list-group-item-action bg-light">SMS</li></a>
        {% comment %} <a href="{% url 'accounts:telegram_plugin:telegram_pluginview' %}"><li class="list-group-item list-group-item-action bg-light">Telegram</li></a> {% endcomment %}
      </ul>
      </div>
    </div>
    <div class="container">
      {% block content %}
      {% endblock content %}
    </div>
  </div>
  </div>
  {% comment %} <div class="container">
    {% block content %}
    {% endblock content %}
  </div> {% endcomment %}
{% endblock %}
