{% extends 'base_accounts.html' %}

{% block head %}
<title>My Account</title>
{% endblock head %}


{% block breadcrumb %}
<li class="breadcrumb-item active">My Account</li>
<li class="breadcrumb-item text-primary">Account Settings</li>
{% endblock %}

{% block sidenav %}
  <a href="#" class="text-dark list-group-item list-group-item-action bg-white">Account Settings</a>
  <a href="{% url 'accounts:change_password' %}" class="list-group-item list-group-item-action bg-light">Change Password</a>
{% endblock %}



{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10 col-sm-12">
      <div class="card">
        <div class="card-body shadow-sm">
          <h3 class="card-title">General</h3>
          <form method="post" novalidate>
            {% csrf_token %}
            {% include 'includes/form.html' %}
            <button type="submit" class="btn btn-primary btn-block mt-2">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
