{% extends 'base.html' %}

{% block title %}User List{% endblock %}
{% block breadcrumb %}
  <li>Site Checker</li>
{% endblock %}
{% block body %}
  <div class="mt-3 row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-4">
      <div class="card">

        <div class="card-body">
          <h3 class="card-title" style="text-align:center">User List</h3>
          <table class="table" style="margin:auto">
            <thead class="thead-inverse">
                <tr>
                    <th class="justify-content-center">PK</th>
                    <th class="justify-content-center">Users</th>

                    <th class="justify-content-center">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                    <td class="align-middle">{{user.pk}}</td>
                    <td class="align-middle">{{user.username}}</td>
                    <td>
                        <a href="{% url 'accounts:edit_user' user.pk %}"><span class="glyphicon glyphicon-pencil">Edit</span></a>
                        <a href="{% url 'accounts:delete_user' user.pk %}">Delete</a>
                    </td>
                    </tr>
                {% endfor %}
                <tr><td></td><td><a href="{% url 'accounts:add_user' %}">Add user</a></td></tr>
            </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
