{% extends 'base_accounts.html' %}

{% block head %}
<title>Add service</title>
{% endblock head %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'checkerapp:home' %}">Services</a></li>
    <li class="breadcrumb-item active">Add Service</li>
{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10 col-sm-12">
      <div class="card">
        <div class="card-body">
            <h3 class="card-title">Service</h3>
          <form method="post" novalidate>
            {% csrf_token %}
            {% include 'includes/form.html' %}
            {% if flag %}
              <button type="submit" class="btn btn-primary btn-block">Update</button>
            {% else %}
              <button type="submit" class="btn btn-primary btn-block">Add</button>
            {% endif %}
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
