{% extends 'base.html' %}
{% load static %}<!DOCTYPE html>
{% block body %}
  {% if user.is_authenticated %}
    <div class="container">
      <div class="col-12">
        <ol class="breadcrumb my-4">
          <li class="breadcrumb-item active">Sites</li>
        </ol>
      </div>
      <div class="col-3"> 
        {% comment %} <a href="{% url 'add_site' request.user.pk %}" class="btn btn-primary">Add site</a> {% endcomment %}

      {% if user.is_superuser %}
        <a href="{% url 'add_site' %}" class="btn btn-primary">Add Site</a>
      {% endif %}
      </div>
      
      <table class="mt-2 table">
        <thead class="thead-inverse">
          <tr>
            <th>PK</th>
            <th>Site</th>
            <th>Interval</th>
            <th>Admin</th>
            <th>Report</th>
            {% if user.is_superuser %}
            <th>Actions</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for site in sitenames %}
            <tr>
              <td class="align-middle">{{site.pk}}</td>
              <td><a href="{% url 'info' site.pk %}">{{ site.site_name }}</a></td>
              <td class="align-middle">{{site.interval}} minutes</td>
              <td class="align-middle">{{site.admin.username}}</td>
              <td class="align-middle"><a href="{% url 'report' site.pk %}">View</a></td>
              
              {% if user.is_superuser %}
              <td>  
                  <a href="{% url 'edit_site' site.pk %}">Edit</a>  
                  <a href="{% url 'delete_site' site.pk %}">Delete</a>  
                  {% if site.maintenance_mode is 0 %}
                    <a class="btn btn-outline-success" href="{% url 'maintenance' site.pk %}">Turn off</a>  
                  {% else %}
                    <a class="btn btn-outline-danger" href="{% url 'maintenance' site.pk %}">Turn on</a>  
                  {% endif %}
              </td>  
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% else %}
      <div class="d-flex justify-content-center">
        <h1> Hello there ! </h1>
      </div>
        <h3 class="d-flex justify-content-center">Please<a href="{% url 'login' %}"> &nbsp Log in !</a> </h3>
    {% endif %}
  </body>
{% endblock body %}