{% extends 'base.html' %}
{% load static %}<!DOCTYPE html>
{% block body %}
    <div class="container">
      <ol class="breadcrumb my-4">
        <li class="breadcrumb-item active">{{site.site_name}}</li>
      </ol>
      <div class="row col-12">
       <div class='col-6'>
       {% if last_down_time%}
        <p>Last Down Time : {{last_down_time.date_time}}</p>
        <p>Alert Type : {{site.alert_type}}</p>
        {% else %}
        <p>Last Down Time : No down time</p>
        {% endif %}
       </div>

      {% comment %} {% if user.is_superuser %} {% endcomment %}
      <div class="ml-auto dropdown">
        <form method='POST'>
        {% csrf_token %}
        <select class="selectpicker" name="listxblocks" multiple data-live-search="true">
        {% if not user.is_superuser %}
          <option>Only admin can add</option>
        {% else %}
          {% for add_user in add_users %}
            {% if add_user not in users %}
              <option value="{{add_user.id}}" >{{add_user.username}}</option>
            {% endif %}
          {% endfor %}
        {% endif %}
        </select>
        {% if user.is_superuser %}
          <button type="submit" class="btn btn-primary ">Add users</button>
        {% endif %}
        </form>
      </div>
      </div>
      {% comment %} {% endif %} {% endcomment %}

      {% comment %} <a href="{% url 'add_user' %}"><button type="submit" class="btn btn-primary mb-2">Add user</button></a> {% endcomment %}
      <div class="row">
      <table class="table jumbotron col-6">
        <thead class="thead-inverse">
          <tr>
            <th>Status</th>
            <th>Time</th>
          </tr>
        </thead>
        {% if result %}
        <tbody>
          {% for status in result %}
            <tr>
              <td class="align-middle">{{status.status}}</td>
              <td class="align-middle">{{status.date_time}}</td>
            </tr>
          {% endfor %}
        </tbody>
        {% else %}
        <tbody>
          <tr><td>No checks</td></tr>
        </tbody>
        {% endif %}
      </table>
      <div class="col-1 "></div>
      <table class="table jumbotron col-5">
      <tr class="danger">
      <th>Users</th>
      <th>Action</th>
      </tr>
      {% if users %}
        {% for user in users %}
          <tbody>
          <tr class="info">
            <td>{{user.username}}</td>
            <td><a href="{% url 'accounts:remove_user' site.pk user.pk %}">Remove</a></td>
          </tr>
          </tbody>
        {% endfor %}
      {% else %}
        <tr><td>No users added</td></tr>
      {% endif %}
      </table>
      </div>
    {% comment %} </div> {% endcomment %}

{% if result.has_other_pages %}
  <ul class="pagination">
    {% if result.has_previous %}
      <li class="page-item"><a class="page-link" href="?page={{ result.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span></span></li>
    {% endif %}
    {% for i in result.paginator.page_range %}
      {% if result.number == i %}
        <li class="page-item active page-link"><span>{{ i }} <span class="sr-only page-link">(current)</span></span></li>
      {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if result.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ result.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span></span></li>
    {% endif %}
  </ul>
{% endif %}
    </div>
 </body>
{% endblock body %}
