{% extends 'base.html' %}
{% load static %}<!DOCTYPE html>
{% block body %}
    <div class="container">
      <ol class="breadcrumb my-4">
        <li class="breadcrumb-item active">{{site.site_name}}</li>
      </ol>
      <div>
        <p>Last Down Time : xxxx</p>
      </div>
      <a href="{% url 'add_user' %}"><button type="submit" class="btn btn-primary mb-2">Add user</button></a>
      <div class="row">
      <table class="table jumbotron col-6">
        <thead class="thead-inverse">
          <tr>
            <th>Status</th>
            <th>Time</th>
          </tr>
        </thead>
        <tbody>
          {% for status in result %}
            <tr>
              {% comment %} <td class="align-middle">{{site.pk}}</td> {% endcomment %}
              {% comment %} <td><a href="{% url 'info' site.pk %}">{{ site.site_name }}</a></td> {% endcomment %}
              <td class="align-middle">{{status.result}}</td>
              <td class="align-middle">{{status.date_done}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="col-3 "></div>
      <table class="table jumbotron col-3">
      <tr class="danger"><th>Users</th></tr>
      {% for user in user %}
        <tbody>
        <tr class="info">
          <td>{{user.username}}</td>
        </tr>
        </tbody>
      {% endfor %}
      </table>
      </div>
    </div>
  </body>
{% endblock body %}