{% extends 'base.html' %}
{% load static %}<!DOCTYPE html>

{% block head %}
  <title>Services</title>
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Services</li>
{% endblock %}

{% block body %}
  {% if user.is_authenticated %}
    <div class="container col-6 shadow-sm pt-2 pb-1 bg-white rounded">

      <div class="col-3">
      {% if user.is_superuser %}
        {% comment %} <a href="{% url 'checkerapp:add_service' %}" class="btn btn-primary">Add Service</a> {% endcomment %}
      {% endif %}
      </div>

      {% if request.user.is_superuser  %}
        <a class="text-center" href="{% url 'checkerapp:add_service' %}"><h2>Add Service</h2></a>
      {% endif %}
      <table class="mt-2 table">
        <thead>
          <tr>
            <th>PK</th>
            <th>Service</th>
            <th>Users</th>

            {% if user.is_superuser %}
            <th>Actions</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for service in services %}
            <tr>
              <td class="align-middle">{{service.pk}}</td>
              {% comment %} <td class="align-middle">{{forloop.counter}}</td> {% endcomment %}
              <td class="align-middle"><a href="{% url 'checkerapp:service' service.pk %}">{{service.name}}</td>
              <td class="align-middle"><a href="{% url 'accounts:service_users' service.pk %}">Users</td>

              {% if user.is_superuser %}
              <td>
                  <a href="{% url 'checkerapp:edit_service' service.pk %}"> <img src='{% static "images/edit.png" %}' width=20 height=20/> </a>
                  <a href="{% url 'checkerapp:delete_service' service.pk %}"><img src='{% static "images/delete.png" %}' width=20 height=20/> </a>
              </td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% elif not services %}
      <div class="d-flex justify-content-center">
        <h1> Hello there ! </h1>
      </div>
        <h3 class="d-flex justify-content-center">Please create super-user and then <a href="{% url 'accounts:login' %}"> &nbsp Log in !</a> !</h3>

    {% else %}
      <div class="d-flex justify-content-center">
        <h1> Hello there ! </h1>
      </div>
        <h3 class="d-flex justify-content-center">Please<a href="{% url 'accounts:login' %}"> &nbsp Log in !</a> </h3>
    {% endif %}
  </body>
{% endblock body %}
